<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lembretes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lembretes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar type="indeterminate"
                    *ngIf="isLoading"></ion-progress-bar>

  <div *ngIf="!isLoading">
    <ion-list *ngFor="let lembrete of lembretes">
      <ion-item>
        <ion-button color="{{ getPriorityColor(lembrete.priority) }}">
          Proridade: {{ lembrete.priority }}
        </ion-button>
        <ion-label>
          <h2>{{ lembrete.description }}</h2>
          <p>{{ lembrete.time }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>