<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meus Pontos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meus Pontos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [colors]="doughnutChartColors"
                [options]="doughnutChartOptions"></canvas>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="points">
    <div class="current">90</div>
    <span class="total"> / 100 pontos</span>
  </div>
</ion-content>